<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <h1>Week {{ week_year | safe }}</h1>
        <table class="left_right">
            <th class="left">
                <a href="/cleaning_schedules/current_week">Current Week</a>
            </th>
            {{ next_week | safe}}
        </table>
        <p class="center">
            Click the name and make the text green after you have finished 
            your task this week.
        </p>
        <p class="center">
            Click More Info if you need more information 
            such as future schedules, past records or what to do
        </p>
        {{ record_table | safe}}
        </table>
        <footer>
            <p>
                PEOPLE, REMEMBER TO TAKE THE GARBAGES OUT FROM THE KICTHEN BEFORE THEY OVERFLOW
            </p>
            <p> · </p>
            <p>
                Now only schedules up to {{ num_future_weeks_schedule }} weeks
                in advance are visible becuase we are generating new 
                schedules based on past records. 
            </p>
            <p>
                If we can see scheudles in the further future, they will have 
                to change at some point or the record based system does not really mean 
                anything. Since probably no one would appreciate a constantly
                changing schedules, I believe having a scheudle system that is
                fixed at the cost of a shorter notice is the best choice.
            </p>
            <p>
                <a href="/cleaning_schedules/ip_and_domain">About accessing the website</a>
            </p>
            <p>
                <a href="/dont_click">Try not to click</a>
            </p>
            
        </footer>
    </body>
</html>