.*/
*.DS_Store
*__pycache__
Records*.json
record.json
namelist*.txt
namelist*.json
app/static/images/Garbages\ 2025.jpeg
app/static/images/basement_cleaning.png
app/static/images/garbages.jpeg
app/static/images/glass.jpeg      
app/static/images/house_plan.png
app/static/images/kitchen_cleaning.jpeg
app/static/images/toilet_cleaning.jpeg
app/static/images/toilet_cleaning.jpeg
app/static/images/pool/*
!app/static/images/pool/avatar.jpeg
!app/static/images/pool/banner.jpeg
!app/static/images/pool/wallpaper.jpeg
*.ico
apple_touch*.png
app/templates/more_info/*-*.html
admins_and_log.html
admins_log.txt
passkeys.json

# frontend/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.db
from_namelists.py
chore_descriptions.json
convert_old_records.py