<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <h1>Basement Cleaning</h1>
        <a class="left" href="/cleaning_schedules">Back</a>
        <table class="center">
            <th class="more_info">
                {{more_info_table | safe}}
            </th>
            <th>
                <img class="more_info" src="{{ url_for('static', filename='images/basement_cleaning.png') }}" alt="basement_cleaning.png">
                <p>WHAT TO DO?</p>
                <p>• TAKE THE TRASH OUT AND PUT THE NEW TRASU BAG</p>
                <p>• CLEAN THE FILTER IN THE DEYER</p>
                <p>• VACUUM/BROOM THE FLOOR</p>
                <p>• HASH THE TOWELS FRON THE WHITE BOX UPSTAIRS (NEXT TO THE ROOM 1005)</p>
            </th>
            </th class="more_info">
        </table>
    </body>
</html>