<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <h1>Glass Garbage</h1>
        <a class="left" href="/cleaning_schedules">Back</a>
        <table class="center">
            <th class="more_info">
                {{more_info_table | safe}}
            </th>
            <th>
                <a href="{{ url_for('static', filename='images/glass.jpeg') }}" download>
                    <img class="more_info" src="{{ url_for('static', filename='images/glass.jpeg') }}" alt="glass.jpeg">
                </a>
                <p>Twice a week</p>
                <p>Take the glass next to our carboard garbage bin up the hill to the bin at around 51.83045° N, 5.82630° E</p>
            </th>
            </th class="more_info">
        </table>
    </body>
</html>