<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <h1>House Vacuuming</h1>
        <a class="left" href="/cleaning_schedules">Back</a>
        <table class="center">
            <th class="more_info">
                {{more_info_table | safe}}
            </th>
            <th>
                <p>
                    The first person is responsible for
                    <span class="red">the part shaded red</span>
                    , and the second person is responsble for
                    <span class="green">the part shaded green</span>
                </p>
                <p>
                    Note that the <span class="green">green part</span> also includes
                    the floor upstairs, 
                    but not the 
                    <span class="ice">toilet, bathroom and basement.</span>
                </p>
                <a href="{{ url_for('static', filename='images/house_plan.png') }}" download>
                    <img class="more_info" src="{{ url_for('static', filename='images/house_plan.png') }}" alt="house_plan.png">
                </a>
            </th>
            </th class="more_info">
        </table>
    </body>
</html>