<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <h1>Kitchen Cleaning</h1>
        <a class="left" href="/cleaning_schedules">Back</a>
        <table class="center">
            <th class="more_info">
                {{more_info_table | safe}}
            </th>
            <th>
                <p>WHAT TO CLEAN?</p>
                <table class="center">
                    <tr>
                        <td class="left">• SINK</td>
                        <td class="left">• STOVE</td>
                    </tr>
                    <tr>
                        <td class="left">• TABLE</td>
                        <td class="left">• FLOOR</td>
                    </tr>
                    <tr>
                        <td class="left">• TOASTER</td>
                        <td class="left">• MICROWAVE</td>
                    </tr>
                    <tr>
                        <td class="left">• COUNTERS</td>
                        <td class="left">• GARBAGE BINS</td>
                    </tr>
                    <tr>
                        <td class="left">• ...</td>
                    </tr>
                </table>
                <a href="{{ url_for('static', filename='images/kitchen_cleaning.jpeg') }}" download>
                    <img class="more_info" src="{{ url_for('static', filename='images/kitchen_cleaning.jpeg') }}" alt="kitchen_cleaning.jpeg">
                </a>
                
            </th>
            </th class="more_info">
        </table>
    </body>
</html>