<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <h1>Organic Garbage</h1>
        <a class="left" href="/cleaning_schedules">Back</a>
        <table class="center">
            <th class="more_info">
                {{more_info_table | safe}}
            </th>
            <th>
                <a href="{{ url_for('static', filename='images/garbages.jpeg') }}" download>
                    <img class="more_info" src="{{ url_for('static', filename='images/garbages.jpeg') }}" alt="garbages.jpeg">
                </a>
                <p>Twice a week</p>
                <p>
                    Put the green garbage bin, not the one in the kitchen, 
                    from our backyear to the sidewalks, 
                    so garbage bags inside can be collected the next day.
                </p>
            </th>
            </th class="more_info">
        </table>
    </body>
</html>