<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <!-- <h1 class="left">TLNR: </h1> -->
        <h2>How to access this website without the wifi at the house?</h2>
        <h3 class="left">IMPORTANT: </h3>
        <p class="left">
            Please prefer 192.168.178.128 if possible. 
            Do not click `More Info` or other links containing images while
            using the following method.
        </p>
        
        <p>
            If you are not using an apple device, you can access the website via
            <a href="ice27182.ignorelist.com">ice27182.ignorelist.com</a> 
            even if you are not connected to the wifi.
        </p>
        <p>
            A warning will pop up the first time you use the link. It is normal.
        </p>
        <p>
            I am using localto.net tunnel service to make accessing the website possible,
            because I cannot modify the our router's settings. 
            There is a 1 GB limit with the free package. It should be enough for
            really long time if no image is loaded; however, it will last even longer
            if you use 192.168.178.128 when possible, so please do that.
        </p>
        <p>
            Send me a message if it does not work on a non-apple device, it is probably me
            forgetting to turn on the tunnel client after a restart.          
        </p>
        <footer>
        </footer>
    </body>
</html>