<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    
    <body>
        {{ week_year | safe }}

        <table class="left_right">
            <th>
                {{ last_week_button | safe }}
            </th>
            <th>
                {{ current_week_button | safe }}
            </th>
            <th>
                {{ next_week_button | safe}}
            </th>
        </table>

        <p class="center">
            Click the name and make the text green after you have finished 
            your task this week.
        </p>
        <p class="center">
            Click More Info if you need more information 
            such as future schedules, past records or what to do
        </p>
        {{ main_table | safe }}
        
        <footer>
            <p>
                Please let Sam know before the schedule is generated 
                if you will no be around the house in the coming weeks.
            </p>
            <p>
                Or try to find someone willing to switch place with you
                if it's too late and the schedule has been generated.
            </p>
            <p>
                <a href="/schedules/Access">
                    How to access this website without connecting to the wifi?
                </a>
            </p>
            <p class="glowing"><a href="/click-me" download>Click me</a></p>
            <p>
                <a href="/schedules/download/record.json" download>
                    Download record.json
                </a>
            </p>
            <p>
                <a href="/schedules/download/everything" download>
                    Download everything 
                    (Note: The record inside may be out-of-date. 
                     Use the link above to download latest record.json)
                </a>
            </p>
        </footer>
    </body>
</html>